DB_URL="postgres://username:@localhost:5432/chirpy?sslmode=disable"
PLATFORM="dev"
JWT_SECRET="****************BgvFbfCnlPBvz4AFyBth14ElRCdHkCq2pF9xWSqsmEobBzRgi6XLRwbSr5JZ5fUDjI17Wmg=="
POLKA_KEY="***************5b99a5091b42d486e"